*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#slurp_me_home{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 30px;
  background-color: brown;
  text-align: center;
  font-size: 11px;
  font-family: 'Audiowide', cursive;
  cursor: pointer;
  a {
    font-size: 23px;
    text-decoration: none;
    color: black;
  }
}

#enquiry-form{
  font-family: 'Tomorrow', sans-serif;
  position: fixed;
  z-index: 10;
  width: 75%;
  height: 53%;
  background-color: white;
  text-align: center;
  margin-left: 13%;
  border-radius: 10px;
  box-shadow: 3px 2px 5px 3px gray;
  h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 36px;
    line-height: 48px;
    padding-bottom: 48px;
    margin-top: 30px;
  }
  .contact-form {
    width: 75%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    .form-field {
      position: relative;
      margin: 40px 0;
    }
    .input {
      display: block;
      width: 100%;
      height: 36px;
      border-width: 0 0 2px 0;
      border-color: #000;
      font-family: Lusitana, serif;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;

      &:focus {
         outline: none;
      }

      &:focus,
      &.not-empty {
         + .label {
            transform: translateY(-24px);
         }
      }
    }
    .label {
       position: absolute;
       left: 20px;
       bottom: 11px;
       font-family: Lusitana, serif;
       font-size: 18px;
       line-height: 26px;
       font-weight: 400;
       color: #888;
       cursor: text;
       transition: transform .2s ease-in-out;
    }
    button {
         display: inline-block;
         font-family: Raleway, sans-serif;
         text-transform: uppercase;
         letter-spacing: 2px;
         font-family: inherit;
         font-size: 16px;
         line-height: 24px;
         padding: 8px 16px;
         cursor: pointer;
         border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
         &:hover{
  border: 2px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255,255,255,0);
  outline-offset: 20px;
         }
    }
  }
}

#success-container {
  position: fixed;
  height: 45%;
  width: 60%;
  z-index: 5;
  background-color: white;
  margin-left: 20%;
  text-align: center;
  .success-popUp{
    position: relative;
    width: auto;
    height: auto;
    i{
      font-size: 25px;
      color: black;
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;
      &:hover{
        color: gray;
      }
    }
    .message{
      font-family: 'Tomorrow', sans-serif;
      text-align: center;
      i{
        font-size: 10em;
        color: green;
        left: 42.5%;
        top: 30px;
      }
      h1{
        padding-top: 25%;
      }
    }
  }
}

#enquiry-container{
  height: 53vh;
  color: white;
  text-align: center;
  align-content: center;
  margin: auto;
  position: relative;
  div{
    margin: 20% 30%;
    h1{
      font-size: 50px;
      margin-bottom: 40px;
      text-transform: uppercase;
      font-family: 'Ibarra Real Nova', serif;
    }
    h2 {
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
      border: 3px #e74c3c solid;
      margin: auto;
      padding: 15px 30px;
      border-radius: 20px;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      &::before, &::after{
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        background: black;
        transform: skewX(50deg);
        transition: 1s linear;
      }
      &::before{
        top: -3px;
        left: 10%;
      }
      &::after{
        bottom: -3px;
        right: 10%;
      }
      &:hover::before{
        left: 80%;
      }
      &:hover::after{
        right: 80%;
      }
    }
  }
}

.gallery{
  h1{
    font-family: 'Tomorrow', sans-serif;
    font-size: 60px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }

  .item {
    .name{
      font-family: 'Lacquer', sans-serif;
      position: relative;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 0;
      transition: .5s ease;
      overflow: hidden;
      background-color: rgba(255, 255, 255, 0.5);
      text-align: center;
      justify-content: center;

    }
    h2{
      font-size: 20px;
    }
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    border: 1px double black;
    &:hover{
      flex: 7;
      .name{
        height: 7.5%;
      }
    }
  }

  .item-1 {
    background-image: url(images/chef-table-ses1/pan-seared-prawn.jpg);
  }

  .item-2 {
    background-image: url(images/chef-table-ses1/deconstructed-sushi.jpg);
  }

  .item-3 {
    background-image: url(images/chef-table-ses1/thai-salad.jpg);
  }

  .item-4 {
    background-image: url(images/chef-table-ses1/chicken-breast.jpg);
  }

  .item-5 {
    background-image: url(images/chef-table-ses1/ice-cream.jpg);
  }
}

@media screen and (max-width: 740px){
  #enquiry-form{
    height: 90%;
    width: 100%;
    margin: 0;
    h1{
      font-size: 20px;
      padding-bottom: 20px;
    }
    .contact-form{
      .label, .input{
        font-size: 15px;
      }
    }
  }
  #enquiry-container{
    div{
      h1{
        font-size: 25px;
      }
      h2{
        font-size: 15px;
      }
    }
  }
  .gallery{
    h1{
      font-size: 27.5px;
    }
    .gallery-wrap{
      display: block;
      overflow: visible;
    }
    .item{
      .name{
        overflow: visible;
        transition: 0;
        height: 20%;
        &:hover {
          .name{
            height: 20%;
          }
        }
      }
    }

  }
}
